<!DOCTYPE html>
<!-- vim: set softtabstop=4 tabstop=4 shiftwidth=4 expandtab: -->
<html>
<head>
    
    <title>Papyri</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/png" href="./papyri-32x32.png" />
    <link rel="icon" type="image/png" href="./papyri-32x32.png"/>

    <link rel="stylesheet" href="./assets/css/papyri.css"/>
    
    <link rel="stylesheet" href="./assets/css/leaflet.css"/>
    <script src="./assets/js/leaflet.js"></script>

    <script src="./assets/js/leaflet-fullHash.js"></script>

    <link rel="stylesheet" href="./assets/css/L.Control.MousePosition.css"/>
    <script src="./assets/js/L.Control.MousePosition.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script src='https://unpkg.com/@mapbox/leaflet-pip@latest/leaflet-pip.js'></script>

    <!-- Leaflet Control Search Plugin -->
    <link rel="stylesheet" href="./assets/css//leaflet-search.min.css"/>
    <script src="./assets/js/leaflet-search.min.js"></script>

    <style>
        .leaflet-control-search input {
            font-size: 1rem;
        }
    </style>
</head>
<body>

<div id='map'></div>

<script>

    const dimSet = new Set();
    let tileLayers = {};
    const tilesUrl = './tiles/{id}/{z}/{x}/{y}.png';
    let overlays = {};
    let overlaysHash = {};
    let allBanners = [];
    let map;
    let control;
    let searchControl;
    let currentDimension = "minecraft@overworld";

    async function loadJSON(file) {
        const response = await fetch(file);
        return response.json();
    }

    const factor = 1 / 2 ** 16;
    L.CRS.pr = L.extend({}, L.CRS.Simple, {
        projection: L.Projection.LonLat,
        transformation: new L.Transformation(
            factor,
            64 * factor,
            factor,
            64 * factor),
        scale: function(zoom) {
            return Math.pow(2, zoom);
        },

        zoom: function(scale) {
            return Math.log(scale) / Math.LN2;
        },

        distance: function(latlng1, latlng2) {
            const dx = latlng2.lng - latlng1.lng;
            const dy = latlng2.lat - latlng1.lat;

            return Math.sqrt(dx * dx + dy * dy);
        },

        infinite: true
    });


    const IDcolors = ["red", "blue", "green", "purple", "orange"];
    const scaleText = ["1:1", "1:2", "1:4", "1:8", "1:16"];
    const regionGradient = ["#fb0004","#f70008","#f3000c","#ef0010","#eb0014","#e70018","#e4001b","#e0001f","#dc0023","#d80027","#d4002b","#d0002f","#cc0033","#c80037","#c4003b","#c0003f","#bc0043","#b80047","#b4004b","#b1004e","#ad0052","#a90056","#a5005a","#a1005e","#9d0062","#990066","#95006a","#91006e","#8d0072","#890076","#85007a","#81007e","#7e0081","#7a0085","#760089","#72008d","#6e0091","#6a0095","#660099","#62009d","#5e00a1","#5a00a5","#5600a9","#5200ad","#4e00b1","#4b00b4","#4700b8","#4300bc","#3f00c0","#3b00c4","#3700c8","#3300cc","#2f00d0","#2b00d4","#2700d8","#2300dc","#1f00e0","#1b00e4","#1800e7","#1400eb","#1000ef","#0c00f3","#0800f7","#0400fb"];

    const clusterGroupConfig = {
        iconCreateFunction: function(cluster) {
            return L.divIcon({
                iconSize: [576, 48],
                className: 'banner-marker',
                html: `<img class="banner-image" src="./assets/banner-images/multiple.png"/><span class="banner-name">${cluster.getChildCount()}</span>`
            });
        }
    };

    function handleClick(e) {
        let html = '<span style="font-size:16px;font-family:unifont">';
        const match = leafletPip.pointInLayer(
            e.latlng,
            e.target,
            false
        );
        if (match.length) {
            for (const m of match) {
                const maps = m.feature.properties.maps;
                const scale = m.feature.properties.scale;
                html += `<span style="color:${IDcolors[scale]}">`;
                html += `${scaleText[scale]} scale:</span></br>`;
                for (const mapItem of maps) {
                    html += `map ID ${mapItem.id}</br>`;
                    html += `<img src="./maps/${mapItem.filename}" height="256" width="256"/></br>`;
                    const banners = mapItem.banners;
                    html += "<table>";
                    for (const banner of banners) {
                        html += "<tr>";
                        html += `<td style="vertical-align: top"><img style="float: left;" src="./assets/banner-images/${banner[4]}banner.png"/></td>`;
                        html += `<td>text: "${banner[3]}"</br> XYZ: ${banner[0]} / ${banner[1]} / ${banner[2]}</br></td>`;
                        html += "</tr>";
                    }
                    const frames = mapItem.frames;
                    for (const frame of frames) {
                        html += "<tr>";
                        html += `<td><img src="./assets/banner-images/marker.png" style="transform: rotate(${frame.rotation}deg);"></td>`;
                        html += `<td>XYZ: ${frame.X} / ${frame.Y} / ${frame.Z}</br></td>`;
                        html += "</tr>";
                    }
                    html += "</table></br>";
                }
            }
            html += "</span>";
        }
        if (html) {
            map.openPopup(html, e.latlng, {maxHeight: 320, maxWidth: 300, minWidth: 300});
        }
    }

    const styleMaps = {
        style: function(feature) {
            return {color: IDcolors[feature.properties.scale]};
        }
    };

    const styleCustom = {
        style: function(feature) {
            return feature.properties.style;
        }
    };

    function createSearchControl(dimension) {
        return new L.Control.Search({
            position: 'topleft',
            layer: overlays[dimension]["banners"],
            initial: false,
            zoom: 18,
            marker: false,
            propertyName: 'title',
            autoCollapse: true,
            autoType: false,
            minLength: 1
        });
    }

    function remControl(event) {
        control.remove();
        control = L.control.layers(tileLayers, overlays[event.name]);
        control.addTo(map);
    }

    async function loadCustomOverlays() {
        try {
            const manifest = await loadJSON('overlays.json');
            const overlayPromises = manifest.overlays.map(file =>
                loadJSON(file).catch(err => {
                    console.warn(`Could not load overlay: ${file}`, err);
                    return [];
                })
            );
            const overlayDataSets = await Promise.all(overlayPromises);

            for (const overlayData of overlayDataSets) {
                for (const feature of overlayData) {
                    overlays[feature.properties.dimension]['custom'].addData(feature);
                }
            }
        } catch (err) {
            console.log('No overlays.json manifest found, skipping custom overlays');
        }
    }

    async function init() {
        const mapsData = await loadJSON('maps.json');

        for (const marker of mapsData) {
            dimSet.add(marker.properties.dimension);
        }

        for (const val of dimSet) {
            tileLayers[val] = L.tileLayer(tilesUrl, {id: val, maxZoom: 20, maxNativeZoom: 17});
            overlays[val] = {
                "banners": L.markerClusterGroup(clusterGroupConfig),
                "custom": L.geoJSON(null, styleCustom),
                "maps": L.geoJSON(null, styleMaps).on('click', handleClick)
            };
            overlaysHash[val] = tileLayers[val];
            overlaysHash[val + "_" + "banners"] = overlays[val]["banners"];
            overlaysHash[val + "_" + "maps"] = overlays[val]["maps"];
            overlaysHash[val + "_" + "custom"] = overlays[val]["custom"];
        }

        const [bannersData] = await Promise.all([
            loadJSON('banners.json'),
            loadCustomOverlays()
        ]);

        allBanners = bannersData;

        for (const bannerItem of bannersData) {
            const geoJsonFeature = {
                type: "Feature",
                geometry: {
                    type: "Point",
                    coordinates: [bannerItem.X, bannerItem.Z]
                },
                properties: {
                    title: bannerItem.name,
                    name: bannerItem.name,
                    color: bannerItem.color,
                    dimension: bannerItem.dimension
                }
            };

            const marker = L.marker([bannerItem.Z, bannerItem.X], {
                title: bannerItem.name,
                icon: L.divIcon({
                    className: 'banner-marker',
                    html: `<img class="banner-image" src="./assets/banner-images/${bannerItem.color}banner.png"/><span class="banner-name">${bannerItem.name}</span>`
                })
            });

            marker.feature = geoJsonFeature;
            marker.addTo(overlays[bannerItem.dimension]['banners']);
        }

        for (const mapFeature of mapsData) {
            overlays[mapFeature.properties.dimension]['maps'].addData(mapFeature);
        }

        map = L.map('map', {
            crs: L.CRS.pr,
            layers: [tileLayers["minecraft@overworld"]]
        });

        L.control.mousePosition().addTo(map);

        const homeButton = L.Control.extend({
            options: {
                position: 'topleft'
            },
            onAdd: function(map) {
                const container = L.DomUtil.create('div', 'leaflet-bar leaflet-control');
                const button = L.DomUtil.create('a', '', container);
                button.href = '#';
                button.title = 'Zoom to all markers';
                button.innerHTML = '🏠';
                button.style.width = '30px';
                button.style.height = '30px';
                button.style.lineHeight = '30px';
                button.style.textAlign = 'center';
                button.style.fontSize = '16px';

                L.DomEvent.on(button, 'click', function(e) {
                    L.DomEvent.preventDefault(e);
                    const group = new L.featureGroup([overlays[currentDimension]["banners"]]);
                    map.fitBounds(group.getBounds().pad(0.1));
                });

                return container;
            }
        });

        map.addControl(new homeButton());

        map.fitBounds([[-1000, -1000], [1000, 1000]]);

        console.log("adding initial layer");
        control = L.control.layers(tileLayers, overlays["minecraft@overworld"]);
        control.addTo(map);
        const hash = new L.Hash(map, overlaysHash);

        searchControl = createSearchControl(currentDimension);
        map.addControl(searchControl);

        map.on('baselayerchange', function(event) {
            map.closePopup();

            // Remember which overlay types are currently selected so the
            // selection carries over to the new dimension.
            const activeOverlayTypes = Object.entries(overlays[currentDimension])
                .filter(([overlayName, overlay]) => map.hasLayer(overlay))
                .map(([overlayName]) => overlayName);

            currentDimension = event.name;
            map.removeControl(searchControl);

            searchControl = createSearchControl(currentDimension);
            map.addControl(searchControl);

            for (const [dimName, dimOverlays] of Object.entries(overlays)) {
                for (const [overlayName, overlay] of Object.entries(dimOverlays)) {
                    overlay.remove();
                }
            }

            remControl(event);

            // Re-apply the previously selected overlays for the new dimension.
            for (const overlayName of activeOverlayTypes) {
                overlays[currentDimension][overlayName].addTo(map);
            }
        });
    }

    init();

</script>
</body>
</html>
